@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
  }

  code,
  kbd,
  samp,
  pre {
    letter-spacing: -0.015em;
  }
}
